<footer>
<div class="container">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Bottenannons -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6694715230959620"
     data-ad-slot="4944442535"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
{% include adblock.htm %}
<br>

<center>
<a href="https://www.facebook.com/groups/530301813748116/"><img src="img/facebook.png"></a>
<a href="https://twitter.com/lolupdaterpatch"><img src="img/twtr.png"></a>
<a href="https://www.youtube.com/user/LogganSWE"><img src="img/ytbe.png"></a>
<a href="https://plus.google.com/communities/116945114973266199880"><img src="img/gplus.png"></a>
<br>
</center>
</div>
</footer>
</body>
</html>
